<div class="home-page">

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/horses.jpg" class="d-block w-100" alt="Random slide">
      </div>
      <div class="carousel-caption">
        <h3>Spočítej, nakrm, užívej...</h3>
        <p>Aplikace, který Vám pomůže se zdravím Vašeho koně</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="container page">
    <div class="row infos pt-4">
      <div class="col-md-2 text-center pt-5">
        <fa-icon [icon]="icons.faInfo" size="4x"></fa-icon>
      </div>
      <div class="col-md-10">
        <ul class="list-group">
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li class="list-group-item">Etiam neque. Curabitur sagittis hendrerit ante.</li>
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam neque. Curabitur sagittis hendrerit ante. Etiam neque. Curabitur sagittis hendrerit ante.</li>
        </ul>
      </div>
      <div class="col-md-10 pt-5">
        <ul class="list-group">
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</li>
          <li class="list-group-item">Etiam neque. Curabitur sagittis hendrerit ante?</li>
        </ul>
      </div>
      <div class="col-md-2 text-center pt-5">
        <fa-icon [icon]="icons.faQuestion" size="4x"></fa-icon>
      </div>
      <div class="col-md-12 text-center pt-5">
        <a class="btn btn-big btn-visual"
           routerLink="/register"
           routerLinkActive="active">
          Sign up Now!
        </a>
      </div>
    </div>
  </div>

  <div class="separator before"></div>
  <div class="dark-part articles">
    <div class="container">
        <h2>Články</h2>
        <section class="row">
          <div *ngFor="let article of articles" class="col-md-4">
            <app-article-thumbnail [title]="article.title" [id]="article.id"></app-article-thumbnail>
          </div>
        </section>
      <div class="text-center pt-5 pb-3">
        <a class="btn btn-big btn-visual"
           routerLink="/articles"
           routerLinkActive="active">
          Show all Posts
        </a>
      </div>
    </div>
  </div>
  <div class="separator after"></div>
  <div class="container">
    <div class="articles">
      <h2>E-shop</h2>
      <section class="row">
        <div class="col-md-4">
          <article></article>
        </div>
        <div class="col-md-4">
          <article></article>
        </div>
        <div class="col-md-4">
          <article></article>
        </div>
      </section>
      <div class="text-center pt-5 pb-3">
        <a class="btn btn-big btn-visual"
           routerLink="/register"
           routerLinkActive="active">
          Open E-shop
        </a>
      </div>
    </div>
  </div>
</div>
