<div class="home-page">

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/horses.jpg" class="d-block w-100" alt="Random slide">
      </div>
      <div class="carousel-caption">
        <h3>Spočítej, nakrm, užívej...</h3>
        <p>Aplikace, který Vám pomůže se zdravím Vašeho koně</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="container page">
    <div class="row">
      <i class="icon-home"></i>
    </div>
  </div>
</div>
