/* You can add global styles to this file, and also import other style files */
@import "assets/styles/deff";

html, body {
  background: @backgroundColor;
  color: @fontColorDark;
  font-family: 'Blinker', sans-serif;
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1024px;
}


.navbar {
  background: @appColor1;
  color: @fontColorLight;
  a {
    color: @fontColorLight;
  }
  .navbar-brand {
    img {
      height: 65px;
    }
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    margin: 0 30px;
  }
}

.btn-visual {
  background-color: @appColor2;
  border-color: @appColor2;
  color: @fontColorLight;
  &:hover {
    color: @fontColorLight2;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: @appColor1;
  color: @fontColorLight;
  a {
    color: @fontColorLight;
  }
}
