/* You can add global styles to this file, and also import other style files */
@import "assets/styles/deff";
@import "assets/styles/articles";

html {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: @footerHeight;
}

body {
  background: @backgroundColor;
  color: @fontColorDark;
  font-family: 'Blinker', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: @appColor1;
  text-transform: uppercase;
}
h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

button {
  font-family: 'Varela Round', sans-serif;
}

a {
  color: @appColor2;

  &:hover {
    color: darken(@appColor2, 20%);
  }
}

.wrapper {
  padding-top: @headerHeight;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.page {
  padding: 25px 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: @headerHeight;
  z-index: 69;
  box-shadow: 0 0 5px @appColor2;

  background: @appColor1;
  color: @fontColorLight;

  a {
    color: @fontColorLight;
  }

  .navbar-brand {
    img {
      height: 65px;
    }
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    padding: 10px 30px;
    font-family: 'Varela Round', sans-serif;
  }

  .highlight {
    background: @fontColorLight;
    border-radius: @border-radius;
    font-weight: bold;
    &:hover {
      box-shadow: 0 0 5px @fontColorLight;
    }

    a {
      color: @appColor1;
    }

  }
}

.btn-visual {
  background-color: @appColor2;
  border-color: @appColor2;
  color: @fontColorLight;

  &:hover {
    color: @fontColorLight2;
  }
}

.carousel-caption {
  text-transform: uppercase;
  text-shadow: 0 0 5px @appColor2;
}

.btn-big {
  padding: .5rem 3rem;
  font-size: 1.5rem;
  line-height: 1.6;
  border-radius: @border-radius;
}

.dark-part {
  background: @backgroundColor2;
}
.separator {
  width: 100%;
  height: 170px;
  margin: -20px 0;
  &.before {
    background: url("assets/images/hfc1.svg") bottom;
    background-size: cover;
  }
  &.after {
    height: 140px;
    background: url("assets/images/hfc2.svg") 0 -2px;
    background-size: cover;
  }
}

.home-page {
  .infos {
    fa-icon {
      display: inline-block;
      color: @fontColorLight;
      padding-top: 25px;
      border-radius: 50%;
      background: @appColor1;
      width: 115px;
      height: 115px;
      text-align: center;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: @appColor1;
  color: @fontColorLight;

  a {
    color: @fontColorLight;
  }
}
